.MuiButton-root {
  border-radius: 25px;
  padding: 5px 15px;
}

.MuiCard-root {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.MuiCardMedia-root {
  border-radius: 10px;
}

.MuiCardContent-root {
  text-align: center;
}
